.botonera{
    float: right;
}
#menu{
    display: none;
}
@media (max-width: 1000px){
    .botonera{
        float: none;
        position: relative;
        left: -150%;
    }
    #menu{
        display: block;
    }
    .botonera ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: black;
        z-index: 100;
        top: 68px;
        width: 117%;
        line-height: 10px;
    }
    .botonera a{
        transform: translateX(50px);
    }
    .botonera a:hover{
        font-size: 30px;
    }
    .botonera-open{
        left: -5%;
    }
    span{
        font-size: 36px;
        margin: 15px 7%;
        float: right;
    }
    header h1{
        font-size: 24px;
        margin-top: 15px;
    }
}
@media (max-width: 900px){
    .cont-banner{
        top: 45%;
        left: 50%;
        z-index: 150;
    }
    .section-suscribirse{
        padding-top: 70px;
    }
    .section-suscribirse input{
        margin-bottom: 20px;
    }
    #card-white, #card-blue{
        margin-bottom: 10px;
    }
    .cohete{
        transform: translate(40px, 30px);
    }
    #cohete{
        height: 95vh;
        width:100%;
    }
    #menu{
        transform: translateX(-40px);
    }
    .formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form span{
        float: left;
        display: flex;
    }
    form input{
        height: 70px;
    }
    form textarea{
        height: 100%;
    }
    form input, form textarea{
        transform: translateY(15px);
    }
    .nombre{
        display: flex;
    }
    .correo{
        display: flex;
    }
    form{
        width: 700px;
        height: 620px;
    }
    .card{
        margin-bottom: 20px;
    }
}
@media (max-width: 360px){
    .productos{
        width: 290px;
        transform: translateX(-20px);
    }
    .cohete{
        transform: translate(30px, 15px);
    }
    #cohete{
        width:300px;
    }
    .cont-banner{
        width: 300px;
    }
    form{
        width: 280px;
    }
    .formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}